body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    /* align-items: center; */
}

button {
    font-size: 68px;
    padding: 50px 80px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 2px 2px black;
}

.buttons {
    align-self: center;
    display: flex;
    width: 1250px;
    justify-content: space-between;
}

.r {
    background-image: url(./images/rock.jpg);
}

.s {
    background-image: url(./images/scissors.png);
    background-size: 100% 125%;
    color: black;
    text-shadow: 2px 2px white;
}

.p {
    background-image: url(./images/paper.jpg);
}

.rndResult {
    align-self: center;
    font-size: 42px;
    width: 1250px;
    background-color: aquamarine;
}

.scores {
    /* display: flex; */
    align-self: center;
    font-size: 38px;
    width: 1250px;
}

.human, .pc {
    display: flex;
    align-items: flex-end;
}

img {
    width: 50px;
}